<h1>My tasks</h1>
<ul class="list">
  <% @tasks.each do |task| %>
  <div style="display: flex">
    <input type="checkbox" name="task" <%= "checked" if task.completed%>>
    <%= link_to task.title, task_path(task)%>
    <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
      <i class="fa-solid fa-trash"></i>
    <%end%>

  </div>
  <%end%>
</ul>


<%= link_to new_task_path do %>
  <div class="d-flex">
    <i class="fa-solid fa-plus"></i>
    <p>Add a task</p>
  </div>
<%end%>
